<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 목록</title>
<style>
	table {
		border-collapse: collapse;
	}
	th {
		background-color: orange;
	}
</style>
</head>
<body align="center">
	<h2>게시글 목록</h2>
	<table border="1" align="center" width="80%">
		<tr>
			<th width="10%">번호</th>
			<th width="40%">제목</th>
			<th width="15%">작성자</th>
			<th width="15%">등록일</th>
			<th width="15%">조회수</th>
		</tr>
		<tr th:each="board, state:${boardList}">
			<td th:text="${board.seq}"></td>
			<td th:text="${board.title}"></td>
			<td th:text="${board.writer}"></td>
			<td th:text="${board.createDate}"></td>
			<td th:text="${board.cnt}"></td>
		</tr>
	</table>
	<br>
	<hr>
	게시글 등록
</body>
</html>