<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function GoHome(){
            location.href='{% url 'PB:IndexUrl' %}'
        }

    </script>
</head>
<body>
    DeletelUrl 페이지 입니다.
    <br>
    ID : {{user.id}} 삭제되었습니다.
   
    <input type="button" value="Main" onclick="GoHome()"/>

</body>
</html>