{% extends 'index.html' %} 
{% block content %} 
<h3>게시판</h3>
<table class="table table-striped">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
    </tr>
    {% for board in boardTable %} 
    <tr>
        <td>{{ board.id }}</td>
        <td><a href="{% url 'BD:BDetail' board.id %}">{{ board.board_title }}</a></td>
        <td>{{ board.board_user }}</td>
        <td>{{ board.board_like_cnt }}</td>
    </tr>
    {% endfor %}
</table>
<input type="button" class="btn btn-success" value="글 등록" onclick='document.location.href="{% url 'BD:BAdd' %}"'>
<br>
    {% if  boardTable.has_previous%}
        <input type="button" value="이전" onclick='document.location.href="{% url 'BD:BIndex' boardTable.previous_page_number %} "'/> 
    {% else %}
        <input type="button" value="이전" disabled/> 
    {% endif %}
    {% for i in boardTable.paginator.page_range %}
        <button onclick='document.location.href="{% url 'BD:BIndex' boardTable.next_page_number %}"' >{{i}}</button>
    {% endfor %}
    {% if boardTable.has_next %}
        <input type="button" value="다음" onclick='document.location.href="{% url 'BD:BIndex' boardTable.next_page_number %}"'/> <br>
    {% else %}
        <input type="button" value="다음" disabled/> 
    {% endif %}


{% endblock %}
{% block menu_active %}
<script>
    document.getElementById("board").className="active";
</script>
{% endblock %}